<template>
  <section>
    <h1 class="header">
      Persons
    </h1>
    <h4 class="title">
      Items from MockAPI
    </h4>
    <ul class="items">
      <li v-for="item in items" :key="item.id">
        {{ item.title }}
      </li>
    </ul>
    <h4 class="title">
      Cards loaded from a static JSON file in Vuex
    </h4>
    <div class="cards">
      <card v-for="person in people" :key="person.id" :person="person" />
    </div>
  </section>
</template>

<script lang="ts">
import axios from 'axios'

import { Component, Prop, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'
import { Person, Item } from '~/types'
import Card from '~/components/Card.vue'

@Component({
  components: {
    Card
  }
})
export default class PersonsPage extends Vue {
  @State people!: Person

  items: any[] = []

  async asyncData(context: any) {
    const { params } = context

    const { data } = await axios.get(
      'https://5c8297c62d2ad30014be51f3.mockapi.io/item'
    )
    return {
      items: data
    }
  }

  mounted() {
    // console.log(this.$route)
  }
}
</script>

<style scoped>
.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  margin: 20px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
</style>
