<template>
  <div class="container">
    <div>
      <h1>Test</h1>
      <p>language: {{ $i18n.locale }}</p>
      <template v-if="$store.state.menus">
        <h2>Menus</h2>
        <p
          v-for="(menu, index) in $store.state.menus"
          :key="`menu-${index}`"
        >
          {{ menu.id }} {{ menu.name }} - {{ menu.slug }}
        </p>
      </template>
    </div>
  </div>
</template>

<script lang="ts" src="./test.ts">
</script>

<style></style>
