<template>
  <div class="page page--default page--result">
    <section class="section--result section--result">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 py-5 py-lg-7">
            <h4 class="mt-0 mb-1">
              Result
            </h4>
            <h6>{{ name }}</h6>
            <p>{{ email }}</p>
            <p>{{ paymentStatus }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Ref } from 'nuxt-property-decorator'
import PageMixin from '~/mixins/page'
import { getWordPressCustomerById } from '~/plugins/wordpress'

@Component({
  components: {
    Navbar: () => import('~/components/nav-bar/Navbar.vue')
  },
  computed: {
    language() {
      return this.$i18n.locale
    }
  }
})
class ResultPage extends PageMixin {
  async asyncData(context: any) {
    const { params, store } = context

    const result: any = await getWordPressCustomerById(store.getters.bearerToken, params.id)
    console.log(typeof result, result)

    const { email, name, paymentStatus } = JSON.parse(result)
    console.log('email', email)

    return {
      email,
      name,
      paymentStatus
    }
  }

  // created() {
  //   console.log('CREATED')
  // }
}

export default ResultPage
</script>
