<template>
  <div
    :class="{
      'navbar--homepage': isHomepage,
      'navbar--homepage-default': isHomepage && !scrollingOffsetReached,
      'navbar--homepage-menu-visible': isHomepage && scrollingOffsetReached,
      'navbar--closed': !toggledNav,
      'navbar--open': toggledNav
    }"
    class="navbar"
  >
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="navbar__background" />
          <nuxt-link :to="$i18n.path(``)" exact class="navbar__logo" title="Wellbeeing.org">
            <logo :class="{ 'logo--wellbeeing-visible': showLogo}" />
          </nuxt-link>
          <div
            :class="{
              'navbar__content--homepage-default': isHomepage && !scrollingOffsetReached,
              'navbar__content--homepage-menu-visible': isHomepage && scrollingOffsetReached
            }"
            class="navbar__content"
          >
            <h2
              v-if="showTitle"
              class="navbar__title"
            >
              {{ $t('navbar.slogan') }}
            </h2>
            <nav
              :class="{
                'navbar__nav--hidden': !toggledNav,
                'navbar__nav--visible': toggledNav
              }"
              class="navbar__nav"
            >
              <ul
                v-if="menu"
                class="navbar__menu"
              >
                <li
                  v-for="(item, index) in menu.items"
                  :key="'menu-item-' + index"
                  class="navbar__menu-item"
                >
                  <nuxt-link
                    v-if="$route.path.indexOf(item.url) === -1 && item.title.toLowerCase().indexOf('homepage') === -1"
                    :to="`${item.url}`"
                    :title="item.title.replace(new RegExp(/(\(\w*\))$/), '')"
                    exact
                  >
                    {{ item.title.replace(new RegExp(/(\(\w*\))$/), '') }}
                  </nuxt-link>
                  <span
                    v-if="$route.path.indexOf(item.url) !== -1 && item.title.toLowerCase().indexOf('homepage') === -1"
                    :key="'menu-item-' + index"
                  >
                    {{ item.title.replace(new RegExp(/(\(\w*\))$/), '') }}
                  </span>
                </li>
              </ul>
            </nav>
          </div>
          <ul
            v-if="$store.getters.page && $store.getters.page.translations"
            :class="{
              'navbar__languages--homepage-default': isHomepage && !scrollingOffsetReached,
              'navbar__languages--homepage-menu-visible': isHomepage && scrollingOffsetReached,
              'navbar__languages--hidden': !toggledNav,
              'navbar__languages--visible': toggledNav
            }"
            class="navbar__languages"
          >
            <li
              :class="{
                'navbar__language--homepage-default': isHomepage && !scrollingOffsetReached,
                'navbar__language--homepage-menu-visible': isHomepage && scrollingOffsetReached
              }"
              class="navbar__language navbar__language--active"
            >
              <nuxt-link
                :to="$store.getters.page.translations.slug"
                active-class="none"
                exact
              >
                <span v-if="$i18n.locale === 'en'">
                  {{ $t('links.dutch') }}
                </span>
                <span v-else>
                  {{ $t('links.english') }}
                </span>
              </nuxt-link>
            </li>
            <li class="navbar__language-divider">
              |
            </li>
            <li
              :class="{
                'navbar__language--homepage-default': isHomepage && !scrollingOffsetReached,
                'navbar__language--homepage-menu-visible': isHomepage && scrollingOffsetReached
              }"
              class="navbar__language"
            >
              <span v-if="$i18n.locale === 'en'">
                {{ $t('links.english') }}
              </span>
              <span v-else>
                {{ $t('links.dutch') }}
              </span>
            </li>
          </ul>
          <div
            @click="toggledNav = !toggledNav"
            :class="{
              'navbar__hamburger-icon--open': toggledNav,
              'navbar__hamburger-icon--homepage-default': isHomepage && !scrollingOffsetReached,
              'navbar__hamburger-icon--homepage-menu-visible': isHomepage && scrollingOffsetReached
            }"
            class="navbar__hamburger-icon"
          >
            <span />
            <span />
            <span />
            <span />
            <div class="navbar__hamburger-icon-text">
              menu
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./navbar.ts"></script>
<style lang="scss" src="./navbar.scss"></style>
