@import '../../assets/scss/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: $navbar-height-mobile;
  padding: 0;
  background-color: $brand-white;

  @include media-breakpoint-up(md) { // 768px
    height: $navbar-height;
  }

  &--homepage {
    background-color: transparent;
  }

  &--homepage-default {
    position: fixed;
    width: 100vw;
    height: 60px;

    .navbar__content {
      
      @include media-breakpoint-up(md) { // 768px
        position: relative;
        left: 0;
        width: calc(100% - 300px);
      }
    }

    .navbar__logo {
      display: none;
    }
  }

  &--homepage-menu-visible {
    align-self: flex-start;
    align-items: flex-start;

    .navbar__background {
      transform: translate(0, 0);
    }
  }

  &--open {
    background-color: $brand-white;

    @include media-breakpoint-down(sm) { // 767px
      height: 100vh;
    }

    .navbar__content {

      @include media-breakpoint-down(sm) { // 767px
        flex: 0 0 auto;
      }
      
      @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
        flex: 0 0 70%;
        padding-left: 60px;
      }
    }

    .navbar__languages {
      align-self: center;
      
      @include media-breakpoint-down(sm) { // 767px
        flex: 0 0 auto;
      }

      @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
        flex: 0 0 30%;
      }
    }

    .navbar__logo {
      
      @include media-breakpoint-down(sm) { // 767px
        display: none;
      }
    }

    .navbar__hamburger-icon {
      position: fixed;
      top: 30px;

      @include media-breakpoint-only(sm) { // 575px - 767px
        right: calc(((100% - 540px) / 2) + 20px);
      }
    }

    span:nth-child(1) {
      top: 10px;
      left: 50%;
      width: 0%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 10px;
      left: 50%;
      width: 0%;
    }

    [class*='col-'] {

      @include media-breakpoint-down(sm) { // 767px
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
        flex-direction: row;
      }
    }
  }

  // &--closed {

  // }

  [class*='col-'] {

    @include media-breakpoint-up(md) { // 768px
      display: flex;
      align-items: center;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60px;
    background-color: $brand-white;
    transform: translate(0, -100%);
    transition: transform .2s ease-in-out;

    @include media-breakpoint-up(md) { // 768px
      height: 125px;
    }
  }

  &__content {

    @include media-breakpoint-down(sm) { // 767px
      order: 2;
    }

    @include media-breakpoint-up(md) { // 768px
      flex: 1 0 auto;
      padding-left: 20px;
    }

    &--homepage-default {
      flex: 1 1 auto;

      @include media-breakpoint-up(md) { // 768px
        align-self: flex-start;
      }
    }
  }

  &__hamburger-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 30px;
    height: 20px;
    transform: translateY(-50%) rotate(0deg);
    cursor: pointer;

    @include media-breakpoint-up(md) { // 768px
      display: none;
    }

    &:hover {

      span {
        background-color: $brand-green-3;
      }

      .navbar__hamburger-icon-text {
        color: $brand-green-3;
      }
    }

    &:focus {

      span {
        background-color: $brand-green-4;
      }

      .navbar__hamburger-icon-text {
        color: $brand-green-4;
      }
    }

    &:not(.navbar__hamburger-icon--open) {

      &.navbar__hamburger-icon--homepage-default {

        &:hover,
        &:focus {

          span {
            background-color: $brand-white;

          }

          .navbar__hamburger-icon-text {
            color: $brand-white;
          }
        }
      }
    }

    &-text {
      position: absolute;
      left: 0;
      top: 50%;
      padding-right: 10px;
      color: $brand-yellow-4;
      font-size: .7rem;
      transform: translateX(-100%) translateY(-50%);
      text-transform: uppercase;
      transition: .25s ease-in-out;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 3px;
      width: 100%;
      background: $brand-yellow-4;
      border-radius: 3px;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 8px;
    }

    span:nth-child(4) {
      top: 16px;
    }
  }

  &__languages {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(sm) { // 767px
      order: 1;
      margin-bottom: 30px;
    }

    @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
      flex: 0 0 50%;
      justify-content: center;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) { // 768px
      padding-top: 5px;
    }

    &--hidden {

      @include media-breakpoint-down(sm) { // 767px
        display: none;
      }
    }
  }

  &__language-divider {
    padding: 0 5px;
    color: $gray-300;
  }

  &__language {    
    color: $gray-600;

    &:not(:last-child) { 
      padding: 0 5px;
    }

    &--active {

      a {
        color: $brand-yellow-4;

        &:hover,
        &:focus {
          color: $brand-green-4;
        }
      }
    }

    &--homepage-default {
      color: $gray-600;

      @include media-breakpoint-up(md) { // 768px
        color: $brand-white;
      }

      a {

        &:hover {
          color: $gray-600;

          @include media-breakpoint-up(md) { // 768px
            color: $brand-white;
          }
        }

        &:focus {
          color: $gray-600;

          @include media-breakpoint-up(md) { // 768px
            color: $brand-green-3;
          }
        }

      }
    }
  }

  &__logo {
    display: inline-block;
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-down(sm) { // 767px
      flex-direction: column;
      text-align: center;
    }

    @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
      text-align: left;
    }

    &-item {
      
      &:not(:first-child) {

        @include media-breakpoint-down(sm) { // 767px
          margin-top: 10px;
        }

        @include media-breakpoint-up(md) { // 768px
          margin-left: 10px;
        }
      }

      > * {
        font-size: 1rem;
      }

      a {
        color: $brand-yellow-4;

        &:hover,
        &:focus {
          color: $brand-green-4;
        }

        .navbar--homepage-default.navbar--closed & {

          &:hover {
            color: $brand-white;
          }

          &:focus {
            color: $brand-green-3;
          }
        }
      }
    }
  }

  &__nav {

    @include media-breakpoint-up(md) { // 767px
      margin-top: 5px;
    }

    &--hidden {

      @include media-breakpoint-down(sm) { // 767px
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    font-family: 'Cookie', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    color: $brand-green-3;

    @include media-breakpoint-down(sm) { // 767px
      display: none;
    }
  }
  
  .logo--wellbeeing {
    position: relative;
    width: 66px;
    height: 33px;
    opacity: 0;

    @include media-breakpoint-up(md) { // 768px
      left: -10px;
      width: 150px;
      height: 75px;
    }

    &-visible {
      opacity: 1;
      transition: opacity .2s ease-in-out .1s;
    }
  }

  .container {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px
  }

  .row {
    width: calc(100% + 30px);
  }
}
