@import "./variables";

// required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";

// optional
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/type";

@import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";

body {
  background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  color: $brand-green-5;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h2, h3, h4 {
  margin-top: 2rem;
}

svg:not(.b-icon) {
  width: 100%;
  height: 100%;
}

.navbar,
.header {

  h1 {
    margin-top: 0;
  }
}

.layout {
  min-height: 100vh;
}

header:not(.header--homepage-default) { // @TODO: find another way to fix this, h1.header is the main reason for this
  padding-top: 60px;

  @include media-breakpoint-up(md) { // 768px
    padding-top: 125px;
  }
}

.header {

  &--homepage-menu-visible {
    margin-bottom: -$navbar-height-mobile;

    @include media-breakpoint-up(md) { // 768px
      margin-bottom: -$navbar-height;
    }
  }
  
  &__graphic {
    position: relative;
    width: 100%;
    height: 0;
    background-color: $brand-green-5;

    &::before  {

      @include media-breakpoint-up(md) { // 768px
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 15px;
        background-color: $brand-green-5;
        transform: translateY(-100%);
        opacity: 0.65;
      }

      @include media-breakpoint-up(lg) { // 992px
        height: 30px;
      }
    }
  }

  &__masthead {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;

    @include media-breakpoint-up(sm) { // 576px
      height: 150px;
    }

    @include media-breakpoint-up(md) { // 768px
      height: 200px;
    }

    @include media-breakpoint-up(lg) { // 992px
      height: 250px;
    }

    @include media-breakpoint-up(xl) { // 1200px
      height: 300px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      width: 100%;
      height: 100%;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==);
      opacity: 0.25;
    }

    &--homepage {
      height: 100vh;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: $brand-green-5;
        opacity: 0.95;
      }

      &::after {
        content: none;
      }

      .header__masthead-image {

        @include media-breakpoint-up(lg) { // 768px
          top: 50%;
          height: 100%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }

    &--homepage-menu-visible {
      top: -$navbar-height-mobile;

      @include media-breakpoint-up(md) { // 768px
        top: -$navbar-height;
      }
    }

    &--homepage-default {
      top: 0;
    }

    &-figure {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 100%;
      height: 100%; // @TODO: doesn't work in IE11
      transform: translateX(-50%) translateY(-50%);
      object-fit: cover;

      &--top-aligned {

        @include media-breakpoint-up(lg) { // 992px
          top: 0;
          height: auto;
          transform: translateX(-50%);
        }
      }
    }

    &-content {
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
      z-index: 200;
      width: 100%;
      transform: translateX(-50%) translateY(-50%);

      @include media-breakpoint-down(xs) { // 575px
        margin-top: -20px;
      }

      @include media-breakpoint-up(sm) { // 576px
        width: 80%;
      }

      @include media-breakpoint-only(lg) { // 992px
        width: 90%;
      }

      @media screen and (orientation: landscape) {
        top: 50%;
      }
    }

    &-button {
      text-align: center;

      &:first-child {

        @include media-breakpoint-only(sm) { // 576px - 767px
          text-align: right;
        }
      }

      &:last-child {

        @include media-breakpoint-only(sm) { // 576px - 767px
          text-align: left;
        }
      }

      .btn {

        @include media-breakpoint-only(sm) { // 576px - 767px
          max-width: 80%;
        }
      }
    }

    &-buttons {
      margin-top: 20px;
      list-style: none;

      @include media-breakpoint-up(sm) { // 576px
        margin-top: 30px;
      }
    }

    &-read-more {
      position: fixed;
      bottom: 20px;
      left: 50%;
      z-index: 100;
      width: 30px;
      height: 30px;
      color: $brand-white;
      transform: translateX(-50%);

      &:hover,
      &:focus {
        color: $brand-yellow-3;
      }

      .header--homepage-menu-visible & {
        display: none;
      }
    }

    &-title {
      width: 80%;
      margin: 0;
      font-family: sans-serif;
      font-size: 1.5rem;
      font-weight: 900;
      color: $brand-white;

      @include media-breakpoint-up(sm) { // 576px
        font-size: 2rem;
      }

      @include media-breakpoint-up(md) { // 768px
        width: 100%;
        font-size: 2.5rem;
      }

      @include media-breakpoint-up(lg) { // 992px
        font-size: 3rem;
      }

      @media screen and (max-height: 639px) and (orientation: landscape) {
        font-size: 2rem;
      }

      @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
        font-size: 1.5rem;
      }
    }

    &-subtitle {
      width: 80%;
      margin-top: 10px;
      margin-bottom: 0;
      font-family: 'Cookie', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 1;
      color: $brand-yellow-4;

      @include media-breakpoint-up(md) { // 768px
        width: 100%;
        margin-top: 20px;
        font-size: 1.8rem;
      }
    }

    &-logo {
      width: 100px;
      height: 83px;
      margin-bottom: 15px;

      @include media-breakpoint-up(sm) { // 576px
        width: 120px;
        height: 100px;
        margin-bottom: 30px;
      }

      @include media-breakpoint-up(md) { // 768px
        width: 150px;
        height: 125px;
      }

      @media screen and (max-height: 639px) and (orientation: landscape) {
        width: 100px;
        height: 83px;
        margin-bottom: 15px;
      }

      @media screen and (max-width: map-get($grid-breakpoints, md) - 1px) and (orientation: landscape) {
        width: 84px;
        height: 70px;
        margin-bottom: 15px;
      }

      svg {
        height: 100%;
      }
    }
  }
}

.wrapper {
  flex: 1 0 auto;
}

.page-footer {
  flex: 1 0 auto;
  background-color: $brand-green-2;

  .social-links {
    list-style: none;

    &__link {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }

      a {
        width: 20px;

        @include media-breakpoint-up(sm) { // 576px
          width: 30px;
        }

        svg {
          height: 20px;

          @include media-breakpoint-up(sm) { // 576px
            height: 30px;
          }
        }
      }
    }
  }
}

.section {

  &--form {

    &:not(.section--login) {
      background-color: $brand-green-1;
    }
  }
}

.page {

  &__title {
    margin-top: 10px;
  }

  .image-wrapper {
    margin: 30px 0;

    @include media-breakpoint-up(lg) { // 992px
      margin: 60px 0;
    }

    figure {
      margin-bottom: 0;

      @include media-breakpoint-up(sm) { // 576px
        max-width: 80%;
      }

      @include media-breakpoint-up(lg) { // 992px
        max-width: 70%;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.mollie-form,
.subscription-form {

  &__submit {

    @include media-breakpoint-down(sm) { // 767px
      display: block;
      width: 100%;
    }
  }

  .form-control {

    &.error {
      border: 2px solid #F00;
    }
    
    &.valid {
      border: 2px solid #009900;
    }
  }
  
  .radio-group {

    input[type="radio"] {
      outline: none;
    }

    input[type="radio"]:checked+label {
      
      &::after {
        transform: scale(1);
      } 
    }

    label {
      position: relative;
      padding-left: 15px;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        top: 0;
        left: 0;
        margin-left: -17px;
        border: 1px solid #cac9c6;
        border-radius: 50%;
        background-color: #fff;
        outline: none;

        @include media-breakpoint-up(md) { // 768px
          margin-left: -14px;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 8px;
        height: 8px;
        left: 8px;
        top: 7px;
        margin-left: -18px;
        border-radius: 50%;
        background-color: #000;
        transform: scale(0);

        @include media-breakpoint-up(md) { // 768px
          margin-left: -15px;
        }
      }
    }

    &.error {

      label {

        &::before {
          border: 2px solid #F00;
        }
      }
    }
    
    &.valid {
      
      label {

        &::before {
          border: 2px solid #009900;
        }
      }
    }
  }

  .custom-select {

    @include media-breakpoint-up(lg) { // 992px
      max-width: calc(50% - 15px);
    }
  }
}

.btn-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-small {
  font-size: 0.8rem;
}

.video {
  margin-top: 2rem;
  margin-bottom: 2rem;

  > :first-child {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
