// Custom Bootstrap variable overrides go first
// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 640px,
//   lg: 992px,
//   xl: 1300px
// );

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),    //4px
    2: ($spacer * .5),     //8px
    3: $spacer,            //16px
    4: ($spacer * 1.5),    //24px
    5: ($spacer * 3),      //48px
    6: ($spacer * 4),      //64px
    7: ($spacer * 5),      //80px
    8: ($spacer * 6.25),   //100px
    9: ($spacer * 7.5),    //120px
    10: ($spacer * 9.375)  //150px
  ),
  $spacers);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;

$brand-brown: #3F2A00;
$brand-green-1: #ECF1ED;
$brand-green-2: #dee5df;
$brand-green-3: #5A7F00;
$brand-green-4: #385B00;
$brand-green-5: #2d4900;
$brand-white: #FFF;
$brand-yellow-3: #FEB502;
$brand-yellow-4: #f2a900;

$brand-primary: $brand-green-3;
$brand-secondary: $brand-yellow-3;

$theme-colors: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
  "light": $brand-white
);

$gray-200: #B4B4B4;

$navbar-height-mobile: 60px;
$navbar-height: 125px;
