<template>
  <div class="card">
    <h2>{{ person.firstName }} {{ person.lastName }}</h2>
    <img
      :src="'https://robohash.org/' + person.firstName + '_' + person.lastName"
    >
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Person } from '~/types'

@Component({
  name: 'Card'
})
class Card extends Vue {
  @Prop() person!: Person
}

export default Card
</script>

<style scoped>
.card {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin: 0.25rem;
  border: 0.25rem solid gainsboro;
}
</style>
