<template>
  <div class="logo-small logo-small--wellbeeing">
    <svg-icon name="logo-small" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class LogoSmall extends Vue {}
</script>

<style scoped>
  .st0{fill:#385b00}.st1{fill:#5a7f00}.st2{fill:#fff}.st3{fill:none}.st4{fill:#feb501;enable-background:new}.st5{fill:#3f2a00}
</style>
