<template>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 py-5">
          <div class="row">
            <div class="col-6">
              <span class="text-small text-primary">
                {{ $t('footer.title') }}
                <span class="text-nowrap">© {{ new Date().getFullYear() }}</span>
              </span>
            </div>
            <div class="col-6">
              <ul class="social-links d-flex flex-wrap justify-content-end m-0 pl-1">
                <li class="social-links__link social-links__link--facebook">
                  <a href="https://www.facebook.com/WellBeeing.org" target="_blank" class="d-inline-block" title="Facebook">
                    <svg-icon name="facebook" />
                  </a>
                </li>
                <li class="social-links__link social-links__link--instagram">
                  <a href="https://www.instagram.com/wellbeeing_foundation" target="_blank" class="d-inline-block" title="Instagram">
                    <svg-icon name="instagram" />
                  </a>
                </li>
                <li class="social-links__link social-links__link--linkedin">
                  <a href="https://www.linkedin.com/company/wellbeeing.org/about" target="_blank" class="d-inline-block" title="LinkedIn">
                    <svg-icon name="linkedin" />
                  </a>
                </li>
                <li class="social-links__link social-links__link--email">
                  <a href="mailto:info@wellbeeing.org" class="d-inline-block" title="Email">
                    <svg-icon name="email" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  name: 'PageFooter'
})
class PageFooter extends Vue {}

export default PageFooter
</script>
