<template>
  <header
    :class="{
      'header--homepage-default': isHomepage && !scrollingOffsetReached,
      'header--homepage-menu-visible': isHomepage && scrollingOffsetReached,
    }"
    class="header"
  >
    <div
      v-if="$store.state.page && $store.state.page.masthead"
      :class="{
        'header__masthead--homepage': isHomepage,
        'header__masthead--homepage-default': isHomepage && !scrollingOffsetReached,
        'header__masthead--homepage-menu-visible': isHomepage && scrollingOffsetReached,
      }"
      class="header__masthead container-fluid px-0"
    >
      <figure class="header__masthead-figure m-0">
        <img
          :src="src"
          :srcset="srcset"
          :alt="$store.state.page.title"
          :class="{ 'header__masthead-image--top-aligned': isBeepalacePage }"
          class="header__masthead-image"
          sizes="100vw"
        >
      </figure>
      <div
        v-if="isHomepage"
        class="header__masthead-content d-flex align-items-center flex-column"
      >
        <logo-small class="header__masthead-logo" />
        <h1 class="header__masthead-title text-center">
          {{ $store.state.page.title }}
        </h1>
        <ul
          v-if="relatedPages"
          class="header__masthead-buttons d-sm-flex align-items-center justify-content-center p-0 text-center text-sm-left"
        >
          <li
            v-for="(relatedPage, index) in relatedPages"
            :key="`related-page-${index}`"
            :class="{ 'mt-3 mt-sm-0 ml-sm-4': index > 0 }"
            class="header__masthead-button"
          >
            <b-btn
              :to="{ path: `/${$i18n.locale}/${$store.getters.getPageSlugById(relatedPage.page[0].ID)}` }"
              :variant="index % 2 === 0 ? 'secondary' : 'primary'"
              :title="relatedPage.button_label"
            >
              {{ relatedPage.button_label }}
              <b-icon-chevron-right />
            </b-btn>
          </li>
        </ul>
      </div>
      <a
        v-if="isHomepage"
        @click="clickHandler"
        href="#"
        class="header__masthead-read-more"
        title="Wellbeeing.org"
      >
        <svg-icon name="read-more" />
      </a>
    </div>
    <div
      v-if="!isHomepage"
      class="header__graphic"
    />
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { BIconChevronRight } from 'bootstrap-vue'
import { Getter } from 'vuex-class'
import VueScrollTo from 'vue-scrollto'
import LogoSmall from '~/components/LogoSmall.vue'

@Component({
  name: 'PageHeader',
  components: {
    BIconChevronRight,
    LogoSmall
  },
  computed: {
    isBeepalacePage() {
      return this.$route.path.indexOf('beepalace') !== -1 || this.$route.path.indexOf('bijenpaleis') !== -1
    },
    relatedPages() {
      return this.$store.getters.pageRelatedPages
    }
  }
})
class PageHeader extends Vue {
  @Getter isScrolling?: boolean
  @Getter scrollingOffsetReached?: boolean

  get imageUrl(): string {
    const path = this.$store.state.page.masthead.url.replace(this.$store.state.page.masthead.filename, '')

    return `${path}${this.$store.state.page.masthead.title}`
  }

  get isHomepage(): boolean {
    return !!this.$store.state.page.isHomepage
  }

  get src(): string {
    if (this.isHomepage) {
      return `${this.imageUrl}-300x91.jpg`
    }

    return `${this.imageUrl}-300x90.jpg`
  }

  get srcset() {
    if (this.isHomepage) {
      return `${this.imageUrl}-768x232.jpg 768w, ${this.imageUrl}.jpg 1200w`
    }

    return `${this.imageUrl}-768x231.jpg 768w, ${this.imageUrl}-1024x308.jpg 1024w, ${this.imageUrl}.jpg 1200w`
  }

  clickHandler(): void {
    this.scrollToElement('.page')
  }

  scrollToElement(selector: string) {
    setTimeout(() => {
      if (document.querySelector(selector)) {
        VueScrollTo.scrollTo(selector, 500, { offset: -100 })
      }
    }, 300)
  }
}

export default PageHeader
</script>
