<template>
  <div class="page page--default page--thank-you">
    <section class="section--thank-you">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 py-5 py-lg-7">
            <h4 class="mt-0 mb-1">
              {{ $t(`subscriptionForm.${type}.thankYou.title`) }}
            </h4>
            <p class="mt-0 mb-1">
              {{ $t(`subscriptionForm.${type}.thankYou.text`) }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Ref } from 'nuxt-property-decorator'
import PageMixin from '~/mixins/page'
import { getWordPressCustomerById } from '~/plugins/wordpress'

@Component({
  components: {
    Navbar: () => import('~/components/nav-bar/Navbar.vue')
  },
  computed: {
    language() {
      return this.$i18n.locale
    }
  }
})
class BedanktPage extends PageMixin {
  asyncData(context: any) {
    const { params } = context

    const type = params.type === 'cursussen' ? 'course' : null

    return {
      type
    }
  }

  // created() {
  //   console.log('CREATED')
  // }
}

export default BedanktPage
</script>
