<template>
  <div class="layout layout--default d-flex flex-column">
    <navbar />
    <page-header />
    <main class="wrapper d-flex flex-column">
      <keep-alive>
        <nuxt />
      </keep-alive>
    </main>
    <page-footer />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Navbar from '~/components/nav-bar/Navbar.vue'
import PageFooter from '~/components/PageFooter.vue'
import PageHeader from '~/components/PageHeader.vue'

@Component({
  components: {
    Navbar,
    PageFooter,
    PageHeader
  }
})
export default class DefaultLayout extends Vue {}
</script>
