<template>
  <div class="">
    <div>
      <h1 class="header">
        CATCH ALL
      </h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'nuxt-property-decorator'
import PageMixin from '~/mixins/page'

@Component({
  components: {
    Navbar: () => import('~/components/nav-bar/Navbar.vue')
  }
})
class CatchAllPage extends PageMixin {}

export default CatchAllPage
</script>

<style></style>
