<template>
  <div class="page page--default page--login">
    <section class="section--form section--login">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 py-5 py-lg-7">
            <login-form />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Ref } from 'nuxt-property-decorator'
import PageMixin from '~/mixins/page'
import LoginForm from '~/components/forms/LoginForm.vue'

@Component({
  components: {
    Navbar: () => import('~/components/nav-bar/Navbar.vue'),
    LoginForm
  },
  computed: {
    language() {
      return this.$i18n.locale
    }
  }
})
class LoginPage extends PageMixin {}

export default LoginPage
</script>
