<template>
  <div class="page page--default">
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
            <div class="py-4 py-sm-5 py-lg-6">
              <div>
                <h1 v-if="!isHomepage && title" class="page__title">
                  {{ title.replace(new RegExp(/(\(\w*\))$/), '') }}
                </h1>
                <h2 v-else class="page__title">
                  {{ $t('navbar.slogan') }}
                </h2>
                <template v-if="content">
                  <div
                    ref="contentContainer"
                    v-html="content"
                  />
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      v-if="hasSubscriptionForm"
      class="section--form section--subscription"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 py-5 py-lg-7">
            <subscription-form :type="subscriptionFormType" />
          </div>
        </div>
      </div>
    </section>
    <section
      v-if="hasMollieForm"
      class="section--form section--mollie"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 py-5 py-lg-7">
            <mollie-form :type="mollieFormType" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Ref } from 'nuxt-property-decorator'
import VueScrollTo from 'vue-scrollto'
import debounce from 'lodash/debounce'
import PageMixin from '~/mixins/page'
import MollieForm from '~/components/forms/MollieForm.vue'
import SubscriptionForm from '~/components/forms/SubscriptionForm.vue'

@Component({
  components: {
    Navbar: () => import('~/components/nav-bar/Navbar.vue'),
    MollieForm,
    SubscriptionForm
  },
  computed: {
    language() {
      return this.$i18n.locale
    }
  }
})
class CatchAllPage extends PageMixin {
  @Ref() contentContainer!: HTMLDivElement;

  $refs!: {
    contentContainer: HTMLDivElement;
  };

  anchor: null | HTMLAnchorElement = null
  anchorTarget: null | HTMLAnchorElement = null
  anchorTargetOffsetTop: null | number = null
  debounce: number = 2
  debouncedWindowScroll: any = null
  scrollingOffset: number = 20

  mounted() {
    this.anchor = document.querySelector('a[href*="#"]')

    if (this.anchor) {
      if (this.anchor) {
        this.anchor!.addEventListener('click', (e): void => {
          e.preventDefault()

          this.scrollToElement('#subscription')
        })
      }

      if (window.location.hash) {
        this.scrollToElement('#subscription')
      }
    }
  }

  beforeMount() {
    this.debouncedWindowScroll = debounce(this.windowScroll, this.debounce)

    window.addEventListener('scroll', this.debouncedWindowScroll)
  }

  beforeDestroy() {
    window.removeEventListener('scroll', this.debouncedWindowScroll)
  }

  windowScroll(e: Event) {
    if (window.scrollY > 0 && !this.$store.state.isScrolling) {
      this.$store.commit('SET_IS_SCROLLING', true)
    }

    if (window.scrollY === 0 && this.$store.state.isScrolling) {
      this.$store.commit('SET_IS_SCROLLING', false)
    }

    if (window.scrollY > this.scrollingOffset && !this.$store.state.scrollingOffsetReached) {
      this.$store.commit('SET_SCROLLING_OFFSET_REACHED', true)
    }

    if (window.scrollY <= this.scrollingOffset && this.$store.state.scrollingOffsetReached) {
      this.$store.commit('SET_SCROLLING_OFFSET_REACHED', false)
    }
  }

  scrollToElement(selector: string) {
    setTimeout(() => {
      if (document.querySelector(selector)) {
        VueScrollTo.scrollTo(selector, 500, { offset: -100 })
      }
    }, 300)
  }
}

export default CatchAllPage
</script>
