<template>
  <div class="mollie-form pb-1">
    <h4 class="mt-0 mb-1">
      <template v-if="!isSubmitted || resultStatus === 'failed'">
        {{ $t(`loginForm.title`) }}
      </template>
      <template v-else>
        Result
      </template>
    </h4>
    <form ref="form" v-if="!isSubmitted || resultStatus === 'failed'">
      <div class="row">
        <template v-for="(field, index0) in fields">
          <div
            :key="`field-${index0}`"
            class="col-12"
          >
            <div class="form-group">
              <template v-if="field.type === 'input-text' || field.type === 'input-password'">
                <label
                  :for="field.name"
                  class="text-primary"
                >{{ field.label }}</label>
                <input
                  :id="field.name"
                  v-model="$data[field.name]"
                  :class="[
                    { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                    { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                  ]"
                  @blur="blurHandler"
                  :name="field.name"
                  :placeholder="field.placeholder"
                  :type="field.type.replace('input-', '')"
                  class="form-control"
                >
              </template>
              <template v-for="(validation, index1) in field.validations">
                <div
                  v-if="($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type])"
                  :key="'validation-' + index1"
                  :class="{ 'invalid-message--active': ($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type]) }"
                  class="invalid-message text-danger"
                >
                  {{ validation.message }}
                </div>
              </template>
            </div>
          </div>
        </template>
        <div class="col-12 col-lg-6">
          <button @click.prevent="submit" class="login-form__submit btn btn-primary mt-2">
            {{ $t('loginForm.submit') }}
            <b-icon-chevron-right />
          </button>
        </div>
      </div>
    </form>
    <div v-if="isSubmitted">
      <p :class="resultStatus === 'failed' ? 'mt-3': ''">
        {{ resultMessage }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Ref, Vue } from 'vue-property-decorator'
import { BIconChevronRight } from 'bootstrap-vue'
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import axios from 'axios'
import { Form } from '~/types'

@Component({
  name: 'loginForm',
  components: {
    BIconChevronRight
  },
  mixins: [validationMixin]
})
class loginForm extends Vue {
  @Ref() form!: HTMLFormElement;

  username: string = ''
  fields: null | object[] = null
  isSubmitted: null | boolean = null
  resultMessage: null | string = null
  resultStatus: null | string = null
  password: string = ''
  translations: null | any = null

  get language() {
    return this.$i18n.locale
  }

  created() {
    this.translations = this.$i18n.messages[this.$i18n.locale].loginForm as any

    this.fields = [
      {
        name: 'username',
        label: this.translations.fields.username.label,
        options: null,
        placeholder: this.translations.fields.username.placeholder,
        type: 'input-text',
        validations: [
          {
            rule: required,
            type: 'required',
            message: this.translations.fields.username.validations.required
          },
          {
            rule: email,
            type: 'email',
            message: this.translations.fields.username.validations.email
          }
        ]
      },
      {
        name: 'password',
        label: this.translations.fields.password.label,
        options: null,
        placeholder: this.translations.fields.password.placeholder,
        type: 'input-password',
        validations: [
          {
            rule: required,
            type: 'required',
            message: this.translations.fields.password.validations.required
          },
          {
            rule: minLength(2),
            type: 'minLength',
            message: this.translations.fields.password.validations.minLength
          }
        ]
      }
    ]
  }

  blurHandler(e: any) {
    if (e.target.value) {
      this.$v[e.target.name].$touch()
    }
  }

  async submit() {
    if (!this.$v.$invalid) {
      const result: any = await axios.post('/api/login', {
        username: this.username,
        password: this.password
      })

      if (result.status === 200 && result.data === 'wordpress data updated') {
        // this.resultMessage = 'Wordpress data is updated.'
        // this.resultStatus = 'success'

        window.location.replace('/api/update')
      } else {
        this.resultMessage = 'Login failed.'
        this.resultStatus = 'failed'
        this.isSubmitted = true
      }
    }

    for (let i = 0; i < this.fields!.length; i++) {
      const field = this.fields![i] as any

      this.$v[field.name]!.$touch()
    }
  }

  validations() {
    const validations: any = {
      username: { required, email },
      password: {
        required,
        minLength: minLength(2)
      }
    }

    return validations
  }
}

export default loginForm
</script>
