<template>
  <div class="mollie-form pb-1">
    <h4 class="mt-0 mb-1">
      {{ $t(`mollieForm.${type}.title`) }}
    </h4>
    <p v-if="!isSubmitted">
      {{ $t(`mollieForm.${type}.text`) }}
    </p>
    <form v-if="!isSubmitted">
      <div class="row">
        <template v-for="(field, index0) in fields">
          <div
            :key="`field-${index0}`"
            :class="field.type === 'input-text' ? 'col-lg-6' : 'col-lg-12'"
            class="col-12"
          >
            <div class="form-group">
              <template v-if="field.type === 'input-text'">
                <label
                  :for="field.name"
                  class="text-primary"
                >{{ field.label }}</label>
                <input
                  :id="field.name"
                  v-model="$data[field.name]"
                  :class="[
                    { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                    { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                  ]"
                  @blur="blurHandler"
                  :name="field.name"
                  :placeholder="field.placeholder"
                  class="form-control"
                >
              </template>
              <template v-if="field.type === 'select'">
                <label
                  :for="field.name"
                  class="text-primary"
                >{{ field.label }}</label>
                <b-form-select
                  v-model="$data[field.name]"
                  :id="field.name"
                  :options="field.options"
                  :class="[
                    { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                    { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                  ]"
                  class="form-control"
                />
              </template>
              <template v-for="(validation, index1) in field.validations">
                <div
                  v-if="($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type])"
                  :key="'validation-' + index1"
                  :class="{ 'invalid-message--active': ($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type]) }"
                  class="invalid-message text-danger"
                >
                  {{ validation.message }}
                </div>
              </template>
            </div>
          </div>
        </template>
        <div class="col-12 col-lg-6">
          <button @click.prevent="submit" class="mollie-form__submit btn btn-primary mt-2">
            {{ $t('mollieForm.submit') }}
            <b-icon-chevron-right />
          </button>
        </div>
      </div>
    </form>
    <div v-if="isSubmitted">
      {{ $t('mollieForm.submitted').replace(new RegExp('``ID``', 'g'), mollieCustomerId) }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { BIconChevronRight, BFormSelect } from 'bootstrap-vue'
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import { Form } from '~/types'
import { createMollieCustomer, createMolliePaymentWithMandate, createMollieSubscription } from '~/plugins/mollie'
import { createWordPressCustomer } from '~/plugins/wordpress'

@Component({
  name: 'MollieForm',
  components: {
    BIconChevronRight,
    BFormSelect
  },
  mixins: [validationMixin]
})
class MollieForm extends Vue {
  @Prop({ default: 'donation' }) readonly type?: string;

  email: string = ''
  form: null | Form = null
  fields: null | object[] = null
  mollieCustomerId: null | string = null
  name: string = ''
  isSubmitted: null | boolean = null
  translations: null | any = null

  get language() {
    return this.$i18n.locale
  }

  created() {
    this.translations = this.$i18n.messages[this.$i18n.locale].mollieForm as any

    this.form = this.$store.getters.getFormBySlug(this.type)

    this.fields = [
      {
        name: 'name',
        label: this.translations.fields.name.label,
        options: null,
        placeholder: this.translations.fields.name.placeholder,
        type: 'input-text',
        validations: [
          {
            rule: required,
            type: 'required',
            message: this.translations.fields.name.validations.required
          },
          {
            rule: minLength(2),
            type: 'minLength',
            message: this.translations.fields.name.validations.minLength
          }
        ]
      },
      {
        name: 'email',
        label: this.translations.fields.email.label,
        options: null,
        placeholder: this.translations.fields.email.placeholder,
        type: 'input-text',
        validations: [
          {
            rule: required,
            type: 'required',
            message: this.translations.fields.email.validations.required
          },
          {
            rule: email,
            type: 'email',
            message: this.translations.fields.email.validations.email
          }
        ]
      }
    ]
  }

  blurHandler(e: any) {
    if (e.target.value) {
      this.$v[e.target.name].$touch()
    }
  }

  async createCustomer() {
    const id = await createMollieCustomer(this.name, this.email)

    createWordPressCustomer(this.$store.getters.bearerToken, { email: this.email, id, language: this.language, name: this.name, startDate: '', type: this.type })

    return id
  }

  async submit() {
    if (!this.$v.$invalid && this.$store.getters.bearerToken) {
      this.mollieCustomerId = await this.createCustomer()

      if (this.mollieCustomerId) {
        this.isSubmitted = true
      }

      const result = await createMolliePaymentWithMandate(this.mollieCustomerId)

      // send this link in an email
      console.log('createMolliePaymentWithMandate', result._links.checkout.href)

      // createMollieSubscription('cst_Gczbc8Apgy', '1.00')

      return
    }

    for (let i = 0; i < this.fields!.length; i++) {
      const field = this.fields![i] as any

      this.$v[field.name]!.$touch()
    }
  }

  validations() {
    const validations: any = {
      name: {
        required,
        minLength: minLength(2)
      },
      email: { required, email }
    }

    return validations
  }
}

export default MollieForm
</script>
