<template>
  <div class="subscription-form pb-1">
    <a id="subscription" name="subscription" />
    <h4 class="mt-0 mb-1">
      {{ $t(`subscriptionForm.${type}.title`) }}
    </h4>
    <p v-if="!isSubmitted">
      {{ $t(`subscriptionForm.${type}.text`) }}
    </p>
    <form v-if="!isSubmitted">
      <div class="row">
        <template v-for="(field, index0) in fields">
          <div
            :key="`field-${index0}`"
            :class="field.type === 'input-text' ? 'col-lg-6' : 'col-lg-12'"
            class="col-12"
          >
            <div class="form-group">
              <template v-if="$v[field.name]">
                <template v-if="field.type === 'input-text'">
                  <label
                    :for="field.name"
                    class="text-primary"
                  >{{ field.label }}</label>
                  <input
                    :id="field.name"
                    v-model="$data[field.name]"
                    :class="[
                      { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                      { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                    ]"
                    @blur="blurHandler"
                    :name="field.name"
                    :placeholder="field.placeholder"
                    class="form-control"
                  >
                </template>
                <template v-if="field.type === 'input-radio'">
                  <label
                    :for="field.name"
                    class="text-primary"
                  >{{ field.label }}</label>
                  <b-form-radio-group
                    :id="field.name"
                    v-model="$data[field.name]"
                    :class="[
                      { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                      { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                    ]"
                    :name="field.name"
                    :options="field.options"
                    @blur="blurHandler"
                    class="radio-group"
                  />
                </template>
                <template v-if="field.type === 'select'">
                  <label
                    :for="field.name"
                    class="text-primary"
                  >{{ field.label }}</label>
                  <b-form-select
                    v-model="$data[field.name]"
                    :id="field.name"
                    :options="field.options"
                    :class="[
                      { 'error mb-1': $v[field.name].$invalid && $v[field.name].$dirty },
                      { 'valid': !$v[field.name].$invalid && $v[field.name].$dirty }
                    ]"
                    class="form-control"
                  />
                </template>
                <template v-for="(validation, index1) in field.validations">
                  <div
                    v-if="($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type])"
                    :key="'validation-' + index1"
                    :class="{ 'invalid-message--active': ($v[field.name].$invalid && $v[field.name].$dirty && !$v[field.name][validation.type]) }"
                    class="invalid-message text-danger"
                  >
                    {{ validation.message }}
                  </div>
                </template>
              </template>
            </div>
          </div>
        </template>
        <div class="col-12 col-lg-6">
          <button @click.prevent="submit" class="subscription-form__submit btn btn-primary mt-2">
            {{ $t('subscriptionForm.submit') }}
            <b-icon-chevron-right />
          </button>
        </div>
      </div>
    </form>
    <div v-if="isSubmitted">
      <h6 v-if="resultTitle" class="mt-4 mb-1">
        {{ resultTitle }}
      </h6>
      <p v-if="resultText">
        {{ resultText }}
      </p>
      <span v-else>
        {{ $t('subscriptionForm.submitting') }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { BIconChevronRight, BFormSelect, BFormRadioGroup } from 'bootstrap-vue'
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import { createMollieCustomer, createMolliePayment } from '~/plugins/mollie'
import { createWordPressCustomer } from '~/plugins/wordpress'
import { Form } from '~/types'

@Component({
  name: 'SubscriptionForm',
  components: {
    BIconChevronRight,
    BFormRadioGroup,
    BFormSelect
  },
  mixins: [validationMixin]
})
class SubscriptionForm extends Vue {
  @Prop({ default: 'course' }) readonly type?: string;

  email: string = ''
  fields: null | object[] = null
  form: null | Form = null
  isSubmitted: null | boolean = null
  mollieCustomerId: null | string = null
  name: string = ''
  payment: string = ''
  resultText: null | string = null
  resultTitle: null | string = null
  startDate: null | string = null
  startDates: null | any[] = null
  translations: null | any = null

  get language() {
    return this.$i18n.locale
  }

  created() {
    this.translations = this.$i18n.messages[this.$i18n.locale].subscriptionForm as any

    this.form = this.$store.getters.getFormBySlug(this.type)

    if (this.form?.acf[`dates_${this.$i18n.locale}`]) {
      const dates = this.form.acf[`dates_${this.$i18n.locale}`].map((date: { date: string }) => {
        return { value: date.date, text: date.date }
      })

      if (dates) {
        this.startDates = [
          { value: null, text: this.translations.fields.startDate.placeholder },
          ...dates
        ]

        // for now we set this value automatically
        // because currently there are no multiple startDates
        this.startDate = this.startDates[1].value
      }
    }

    this.fields = [
      {
        name: 'name',
        label: this.translations.fields.name.label,
        options: null,
        placeholder: this.translations.fields.name.placeholder,
        type: 'input-text',
        validations: [
          {
            rule: minLength(2),
            type: 'minLength',
            message: this.translations.fields.name.validations.minLength
          }
        ]
      },
      {
        name: 'email',
        label: this.translations.fields.email.label,
        options: null,
        placeholder: this.translations.fields.email.placeholder,
        type: 'input-text',
        validations: [
          {
            rule: required,
            type: 'required',
            message: this.translations.fields.email.validations.required
          },
          {
            rule: email,
            type: 'email',
            message: this.translations.fields.email.validations.email
          }
        ]
      }
    ]

    if (this.type === 'course') {
      this.fields.push(
        {
          name: 'payment',
          label: this.translations.fields.payment.label,
          options: this.translations.fields.payment.options,
          placeholder: this.translations.fields.payment.placeholder,
          type: 'input-radio',
          validations: [
            {
              rule: required,
              type: 'required',
              message: this.translations.fields.payment.validations.required
            }
          ]
        }
      )
    }

    // if (this.startDates) {
    //   this.fields.push({
    //     name: 'startDate',
    //     label: this.translations.fields.startDate.label,
    //     options: this.startDates,
    //     placeholder: this.translations.fields.startDate.placeholder,
    //     type: 'select',
    //     validations: [
    //       {
    //         rule: required,
    //         type: 'required',
    //         message: this.translations.fields.startDate.validations.required
    //       }
    //     ]
    //   })
    // }
  }

  blurHandler(e: any) {
    if (e.target.value) {
      this.$v[e.target.name].$touch()
    }
  }

  async createCustomer(): Promise<string> {
    const id = await createMollieCustomer(this.name, this.email)

    createWordPressCustomer(this.$store.getters.bearerToken, {
      email: this.email,
      id,
      language: this.language,
      name: this.name,
      startDate: this.startDate,
      type: this.type
    })

    return id
  }

  async submit() {
    if (!this.$v.$invalid && this.$store.getters.bearerToken) {
      this.isSubmitted = true

      let sendMailOptions

      if (this.type === 'course') {
        if (this.payment !== 'later') {
          let failed = false

          this.mollieCustomerId = await this.createCustomer()

          if (!this.mollieCustomerId) {
            failed = true
          }

          const molliePaymentResult = await createMolliePayment(this.mollieCustomerId, this.language, this.type)

          if (!molliePaymentResult) {
            failed = true
          }

          if (failed) {
            this.resultTitle = this.$t('subscriptionForm.submitted.failedTitle').toString()
            this.resultText = this.$t('subscriptionForm.submitted.failedText').toString()

            return
          }

          // console.log('createMolliePayment', molliePaymentResult)

          window.open(molliePaymentResult._links.checkout.href)
        } else {
          createWordPressCustomer(this.$store.getters.bearerToken, {
            email: this.email,
            id: 'BUNQ',
            language: this.language,
            name: this.name,
            startDate: this.startDate,
            type: this.type
          })

          const amount = 99
          const description = this.language === 'en' ? 'Introduction%20course' : 'Introductiecursus'

          sendMailOptions = {
            name: this.name,
            email: this.email,
            language: this.language,
            paymentLink: `https://bunq.me/wellbeeing?description=${description}&amount=${amount}`,
            startDate: this.startDate,
            type: this.type
          }
        }
      } else {
        sendMailOptions = {
          name: this.name,
          email: this.email,
          language: this.language,
          type: this.type
        }
      }

      if (sendMailOptions) {
        const sendMailResult = await this.$store.dispatch('sendEmail', sendMailOptions)

        // console.log('sendMailResult.status', sendMailResult.status)

        if (sendMailResult.status === 200) {
          this.resultTitle = this.$t('subscriptionForm.submitted.successTitle').toString()
          this.resultText = this.$t('subscriptionForm.submitted.successEmailText').toString()
        } else {
          this.resultTitle = this.$t('subscriptionForm.submitted.failedTitle').toString()
          this.resultText = this.$t('subscriptionForm.submitted.failedText').toString()
        }
      } else {
        this.resultTitle = this.$t('subscriptionForm.submitted.successTitle').toString()
        this.resultText = this.$t('subscriptionForm.submitted.successText').toString()
      }

      return
    }

    for (let i = 0; i < this.fields!.length; i++) {
      const field = this.fields![i] as any

      this.$v[field.name]!.$touch()
    }
  }

  validations() {
    let validations: any

    if (this.type === 'course') {
      validations = {
        email: { required, email },
        name: {
          minLength: minLength(2)
        },
        payment: { required }
      }
    } else {
      validations = {
        email: { required, email },
        name: {
          minLength: minLength(2)
        }
      }
    }

    // if (this.form?.acf[`dates_${this.$i18n.locale}`]) {
    //   // if (this.fields) {
    //   //   for (let i = 0; i < this.fields.length; i++) {
    //   //     const field = this.fields[i] as any
    //   //     const rules: any = {}

    //   //     for (let k = 0; k < field.validations.length; k++) {
    //   //       rules[field.validations[k].type] = field.validations[k].rule
    //   //     }

    //   //     validations[field.name] = rules
    //   //   }
    //   // }

    //   validations.startDate = { required }
    // }

    return validations
  }
}

export default SubscriptionForm
</script>
